body {
    background-color: #ffffff;
    color: white;
}


h2{

    font-size:64px; 
    color: whitesmoke; 
    background-color: blue;
     margin:10; 
     padding:10px; 
     text-align: center;
     width:75%;
}


.square{
    fill:indigo;
    width:100px;
    height:100px;
}